<header class="masthead cover">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>ফাহিমের</h1>
          <span class="subheading">খেরোখাতা</span>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto whbg cnt">
    <app-post class="cnt" *ngFor="let post of posts |paginate: { itemsPerPage: pageSize,currentPage: p }" [post]="post"></app-post>
    <pagination-controls  (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
